
.slider{
    height: 350px;
    background-color: #333;
    text-align: center;
    position: relative;
    animation: slideColor 10s forwards infinite;
}

.caption{
    line-height: 118px;
    font-size: 40px;
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0px 5px 5px rgba(0,0,0,.25);
    margin-left: -200px;
}
.slider {
    padding-left: 10px;
}
.text-box{
    display: inline-block;
    position: relative;
}
.yellow {
    color: #f5d547;
    text-decoration: underline;
}
.green {
    text-decoration: underline;
    color: rgb(29, 255, 29);
}
.purple {
    text-decoration: underline;
    color: #4692ef;
}
.text-box div{
    display: inline-block;
    position: absolute;
    top: -200px;
    transform: rotateX(-90deg);
    opacity: 0;
    text-shadow: 0px 5px 5px rgba(0,0,0,.25);
    animation-timing-function: ease;
}

.text-box div:nth-child(1){
    animation: rollDown 8s forwards infinite;
}

.text-box div:nth-child(2){
    animation: rollDown2 8s forwards infinite;
}

.text-box div:nth-child(3){
    animation: rollDown3 8s forwards infinite;
}
.o {
    animation: O 5s ease-in-out;
}
@keyframes O {
    0%      {opacity: 0};
    100%    {opacity:100%};
}

@keyframes rollDown {
    0%{
        top: -200px;
        transform: rotateX(-90deg);
    }
    11%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    22%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    33%{
        top: 50px;
        transform: rotateX(30deg);
        opacity: 0;
    }
}

@keyframes rollDown2 {
    33%{
        top: -200px;
        transform: rotateX(-90deg);
    }
    44%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    55%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    66%{
        top: 50px;
        transform: rotateX(30deg);
        opacity: 0;
    }
}

@keyframes rollDown3 {
    66%{
        top: -200px;
        transform: rotateX(-90deg);
    }
    77%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    88%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    99%{
        top: 50px;
        transform: rotateX(30deg);
        opacity: 0;
    }
}


.typing-demo {
    width: 15ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.4em;
    color: rgb(0, 255, 0);
    background-color: rgba(255,255,255,.1);

}
@keyframes typing {
    from {
        width: 0
    }
    }
        
    @keyframes blink {
    50% {
        border-color: transparent
    }
    }


.animated {

    color: white;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
    /* opacity: .1; */
    transition: color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out, opacity .3s ease-in-out, border .3s ease-in-out;
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);}
} 
    
@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);}
}



.left:hover .bounce {
    background-color: white;
    color: black;
    -webkit-animation-name: bounce; 
    animation-name: bounce;
    animation-iteration-count: 1;
    animation-delay: 0s;
}
.left:hover .bounce1 { 
    background-color: white;
    color: black;
    -webkit-animation-name: bounce; 
    animation-name: bounce;
    animation-iteration-count: 1;
    animation-delay: .1s;
}
.left:hover .bounce2 { 
    background-color: white;
    color: black;
    -webkit-animation-name: bounce; 
    animation-name: bounce;
    animation-iteration-count: 1;
    animation-delay: .2s;
}







.color {
color : #373d50 #4692ef #0f1527 #333 #f5d547 #FF3CAC #07385a
}

li {
    list-style: none;
}

html, body {
    color: white;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
    background-color: #333;
    font-size: 1.em;
}
* {
    box-sizing: border-box;
}
p {
    max-width: 750px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px 0;
}

.intro .left, .intro .right {
    padding: 50px;
}

header {
    display: flex;
    align-items: center;
    gap: 0 100px;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.cmd, .quick-contacts {
    display: flex;
    gap: 25px 25px;
    align-items: center;
}
header .right {
    flex-wrap: wrap;
    display: flex;
    gap: 10px 100px;
}
.intro .left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.intro .right {
    box-shadow: -4px 0 0 0 #f5d547;
}

.intro {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
}
.skills {
    
    display: flex;
    align-items: center;
    gap: 0 50px;
    justify-content: center;
}
.identity {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.fonction h1 {
    border-bottom: 4px solid #4692ef;
}
.fonction {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.pdp {
    display: flex;
    align-items: flex-end;
}
.pdp img {
    border-radius: 50%;
    border: 6px solid #4692ef;
    transition: box-shadow .5s ease-in-out;
}
.pdp img:hover {
    box-shadow: inset 0 -150px 0 0 white;
}
.identity h1, .identity h3 {
    margin: 0;
}
nav li {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
nav h3 {
    align-self: flex-start;
    margin: 10px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, margin .1s ease-in-out, padding .1s ease-in-out;
    box-shadow: inset 0 -2px 0 0 rgba(245, 213, 71, .3);

}
nav h3:hover {
    padding-left: 5px;
    margin-right: 5px;
    color: #f5d547;
    box-shadow: inset 0 -2px 0 0 #4692ef;
    /* color: black;
    box-shadow: inset 200px 0 0 0 #f5d547; */
}
.who {
    gap: 0px 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.quick-contacts {
    flex-wrap: wrap;
}
.quick-contacts li {
    transition: color .3s ease-in-out;
}
.quick-contacts li:hover {
    color: #4692ef;
}

.skills li {
    border: 1px solid #f5d547;
    padding: 5px 10px;
    border-radius: 15px;
}

.cta {
    padding: 10px 30px;
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: #4692ef;
    border: 4px solid #f5d547;
    font-weight: bold;
    transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out, color .3s ease-in-out, border-radius .3s ease-in-out;
    /* position: absolute; */
}
.cta:hover {
    color: black;
    border-color: #f5d547;
    box-shadow: inset 200px 0 0 0 #f5d547;
    border-radius: 0 30px 30px 0;
}
.cta:after {
    text-align: right;
    color: #333;
    position: relative;
    right: -10px;
    content: 'GO!';
    opacity : 0%;
    transition: opacity .5s ease-in-out;
}
.cta:hover:after {
    font-weight: bold;
    opacity: 100%;
}
.intro .cta {
    margin-top: 100px;
}
.slogan {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 0;
    color: #333;
    z-index: 2;
    position: relative;
    transition: color .3s ease-in-out;
}
.slogan i {

    color: #f5d547;
}
.slogan:before {
    content: '';
    display: block;
    /* background-color: rgba(255,255,255,.1); */
    background-color: #f5d547;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transform: skewY(-2deg);
    z-index: -1;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-end;
    transition: .3s ease-in-out box-shadow;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
footer h3 {
    box-shadow: 0 2px 0 0 #f5d547;
    transition: color .3s ease-in-out,
}
footer:hover {
    color: black;
    box-shadow: inset 0 -550px 0 0 #f5d547;
}
footer:hover h3 {
    box-shadow: 0 2px 0 0 #4692ef
}